/*Fonts*/
@font-face {
    font-family: AiW;
    src: url(Fonts/Alice_in_Wonderland_3.ttf);
  }
  @font-face {
    font-family: RTP;
    src: url(Fonts/rough_typewriter.otf);
  }
  @font-face {
    font-family: JMH;
    src: url(Fonts/linowrite.ttf);
  }
  
  
  /*Navigation*/
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
  }
  body{
    background-color: #261e1e;
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
  }
  #sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 220px;
    padding: 5px;
    background-color: #493833;
    border-right: 1px solid #131011;
  
    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
  
    font-family: AiW;
    font-size: 25px;
  }
  #sidebar.close{
    padding: 5px;
    width: 60px;
  }
  #sidebar ul{
    list-style: none;
  }
  #sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{
      font-weight: 600;
    }
    svg{
      fill: #e0d4cf;
    }
    span{
      font-size: 25px;
      letter-spacing: 2px;
      transform: translateX(15px);
    }
  }
  #sidebar ul li.active a{
    color: #bb9983;
  
    svg{
      fill: #bb9983;
    }
  }
  
  #sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: #e0d4cf;
    display: flex;
    align-items: center;
    gap: 1em;
    svg{
      fill: #e0d4cf;
      transform: translateX(-8px);
    }
  }
  .dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
  }
  #sidebar svg{
    flex-shrink: 0;
    fill: #644f47;
  }
  #sidebar a span, #sidebar .dropdown-btn span{
    flex-grow: 1;
  }
  #sidebar a:hover, #sidebar .dropdown-btn:hover{
    background-color: #644f47;
  }
  #sidebar .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
  
    > div{
      overflow: hidden;
    }
  }
  #sidebar .sub-menu.show{
    grid-template-rows: 1fr;
  }
  .dropdown-btn svg{
    transition: 200ms ease;
  }
  .rotate svg:last-child{
    rotate: 180deg;
  }
  #sidebar .sub-menu a{
    padding-left: 2em;
  }
  #toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
  
    svg{
      transition: rotate 150ms ease;
    }
  }
  #toggle-btn:hover{
    background-color: #644f47;
  }
  
  @media(max-width: 800px){
    body{
      grid-template-columns: 1fr;
    }
    main{
      padding: 2em 1em 60px 1em;
    }
    .container{
      border: none;
      padding: 0;
    }
    #sidebar{
      height: 60px;
      width: 100%;
      border-right: none;
      border-top: 1px solid var(--line-clr);
      padding: 0;
      position: fixed;
      top: unset;
      bottom: 0;
  
      > ul{
        padding: 0;
        display: grid;
        grid-auto-columns: 60px;
        grid-auto-flow: column;
        align-items: center;
        overflow-x: scroll;
      }
      ul li{
        height: 100%;
      }
      ul a, ul .dropdown-btn{
        width: 60px;
        height: 60px;
        padding: 0;
        border-radius: 0;
        justify-content: center;
      }
  
      ul li span, ul li:first-child, .dropdown-btn svg:last-child{
        display: none;
      }
  
      ul li .sub-menu.show{
        position: fixed;
        bottom: 60px;
        left: 0;
        box-sizing: border-box;
        height: 60px;
        width: 100%;
        background-color: var(--hover-clr);
        border-top: 1px solid var(--line-clr);
        display: flex;
        justify-content: center;
  
        > div{
          overflow-x: auto;
        }
        li{
          display: inline-flex;
        }
        a{
          box-sizing: border-box;
          padding: 1em;
          width: auto;
          justify-content: center;
        }
      }
    }
  }
  
  
  
  
  
  
  
  
  
  /*Main*/
  
  .column {
    float: left;
  }
  .left {
    width: 10%;
    overflow: hidden;
    height: 170vh;
  }
  
  .right{
    overflow: hidden;
    width: 30%;
    height: 170vh;
  }
  
  .middle {
    overflow: hidden;
    width: 90%;
    height: 170vh;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  main {
    display: flex;
  }
  
  
  
  
  
  /*Header*/
  .dropbtn {
    background-color: #644f47;
    color: white;
    padding: 16px;
    font-size: 25px;
    border: none;
    transition: 0.3s;
    font-family: AiW;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    padding-top: 5vh;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(253, 249, 249);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0px 10px 10px 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: AiW;
    font-size: 25px;
  }
  
  .dropdown-content a:hover {
    background-color: #a1908a;
    border-radius: 0px 10px 10px 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #644f47;
    border-radius: 10px 10px 0px 0px;
  }
  
  
  
  header {
    display: flex;
    justify-content: space-evenly;
  
  }
  
  .homebtn a{
    background-color: #4b3a35;
    color: white;
    padding: 16px 25px 16px 25px;
    font-size: 25px;
    border: none;
    transition: 0.3s;
    text-decoration: none;
    border-radius: 10px;
    font-family: AiW;
  }
  
  .active_1:hover {
    background-color: #644f47;
  }
  
  .homebtn {
    padding-top: 5vh;
  }
  
  /*Main*/
  
  .Main1 {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-image: url(images/Deco/LaceBG.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 20vh;
       img {
        width: 60vh;
        filter: drop-shadow(1px 1px 8px #000000c4);
       }
       p {
        padding: 18vh 0vh 0vh 8vh;
        font-size: 50px;
        color: #9a827a;
        font-family: AiW;
        line-height: 5vh;
        text-shadow: 1px 2px 5px #13101173;
       }
  }

  /*Scroll*/
  

  .Main2 {
    background-color: #463632;
  }

  .box1 {
    padding: 5vh 5vh 2vh 5vh;
    display: flex;
    justify-content: space-evenly;
      iframe {
        padding: 10px;
      }
      p {
        color: #9a827a;
        font-family: RTP;
        font-size: 25px;
        text-align: center;
      }
  }

  .Caption1 {
    font-size: 24px;
    font-family: JMH;
    color: #9a827a;
    padding: 1vh 10vh 10vh 10vh;
    letter-spacing: 1px;
  }


